@import "tailwindcss";

* {
    max-width: 1920px;
    margin: auto;
}

.card-style {
    width: 320px;
    height: 200px;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 1.0),
        5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card-user-says {
    width: 320px;
    height: 200px;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 1.0),
        5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card-btn {
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 1.0),
        5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card-p {
    font-weight: 500;
    font-size: 12px
}

@media only screen and (max-width: 1340px) {
    .card-user-says {

        width: 320px;
        height: 300px;
        box-shadow:
            -5px -5px 5px rgba(255, 255, 255, 1.0),
            5px 5px 20px rgba(0, 0, 0, 0.25);
    }

}

.what-user-grid {
    grid-template-columns: 1fr;
}

@media (min-width: 763px) and (max-width: 900px) {
    .what-user-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 901px) and (max-width: 1340px) {
    .what-user-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1341px) {
    .what-user-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@layer components {
    .card {
        @apply max-w-80 p-4 rounded-xl text-center
    }

    .card-h1 {
        @apply pb-3 pt-2 font-semibold text-2xl
    }

    .main-heading {
        @apply font-semibold text-5xl
    }
}