@import "tailwindcss";

* {
	box-sizing: border-box;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	background-color: #f3f4f6;
	color: #111827;
}

.card-style {
	width: 100%;
	max-width: 320px;
	height: auto;
	box-shadow:
		-5px -5px 5px rgba(255, 255, 255, 1.0),
		5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card-user-says {
	width: 100%;
	max-width: 300px;
	min-height: 300px;
	box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 1.0),
        5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card-btn {
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 1.0),
        5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

@media only screen and (max-width: 1340px) {
    .card-user-says {
        width: 100%;
        height: auto;
        box-shadow:
            -5px -5px 5px rgba(255, 255, 255, 1.0),
            5px 5px 20px rgba(0, 0, 0, 0.25);
    }

}

.what-user-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
}

@media (min-width: 763px) and (max-width: 900px) {
    .what-user-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 901px) and (max-width: 1340px) {
    .what-user-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1341px) {
    .what-user-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@layer components {
    .card {
        @apply w-full max-w-80 p-6 rounded-2xl text-center bg-white/90 transition-transform duration-200 ease-out hover:-translate-y-1 hover:shadow-xl;
    }

    .card-h1 {
        @apply pb-3 pt-2 font-semibold text-xl sm:text-2xl
    }

    .main-heading {
        @apply font-semibold text-3xl sm:text-4xl md:text-5xl
    }
}